@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");
#wrapper{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 10px 0px 0px 10px;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;

}

#main{
  font-size: 20px;
}
.color,  #submit, #hidebutton,.inputboxes, #location{
  list-style: none;
  font-size: 15px;
  color:black;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0px 0px 0px 0px;

}

.inputboxes{
  padding: 6px 0px 7px 0px;
border-radius: 19px;
}

.inputboxesstyle{
  border: .05em solid black;
border-radius: 19px;
color:black;
padding: 6px 6px 7px 0px;
margin: 0px 0px 7px 0px;
}

#submit, #hidebutton{
  padding: 1px 4px 0px 5px;
  color:black;
}
#city, #rad, #e{
  list-style: none;
  font-size: 15px;
  color:black;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1px 4px 0px 5px;
}

#w{
  font-size: 20px;
  font-weight:bold;
  font-family: 'Source Sans Pro', sans-serif;
}

#c{
  font-size: 20px;
  font-weight:bold;
  font-family: 'Source Sans Pro', sans-serif;
}



#defaultCanvas0{
  padding: 0px 0px 0px 10px;
}

/* .p5Canvas{
  padding: 100 2000 0 200;
} */
